@import "../../variable.scss";

.drumSpin {
  height: 90px;
  overflow-y: hidden;
  position: relative;

  .select {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px $shadow-blue, 0 0 50px 30px rgb(255, 255, 255);
    margin: 0 5px;
    top: 50%;
    right: 0;
    left: 0;
    height: 30px;
    transform: translateY(-50%);
  }
  .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 20px;
      width: 100%;
      top: 0;
      background: linear-gradient(#fff, rgba(0, 0, 0, 0));
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 20px;
      width: 100%;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), #fff);
    }
  }

  .list {
    margin: 0;
    padding: 0;

    transition: transform 0.4s;

    .listItem {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        font-weight: 600;
        margin-left: 10px;
        font-size: 22px;

        @media (max-width: 565px) {
          font-size: 16px;
        }
      }
    }
  }
}
